/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 600;
    src: url(google-icons.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.a-list {
    list-style: url('../images/list.svg');
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -webkit-appearance: textfield;
}

i {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.content {
    display: none;
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
    opacity: 0;
}

.content.active {
    display: grid;
    transition: all 2s 5s ease-in;
    top: 0;
    opacity: 1;
}

.tab-button {
    transition: all 0.2s ease-in;
}

.wrapper {
    overflow: hidden;
}

.tab-button.active {
    background-color: rgb(252 39 143 / 1);
    color: white;
    font-weight: bold;
}

/* .remove-dash {
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
} */

.show-dash {
    width: 270px !important;
    padding: 40px 20px 176px 20px !important;
    transition: all 0.2s ease-out;
}

@media (max-width: 900px) {
    .dash-search {
        display: none;
    }
}

@media (max-width: 810px) {
    .dash-boxes {
        flex-direction: column;
    }

    .dash-boxes > div:first-child {
        width: 100% !important;
    }

    .dash-boxes > div:nth-child(2) {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}