/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 600;
    src: url(google-icons.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.a-list {
    list-style: url('../images/list.svg');
}

input[disable=number]::-webkit-inner-spin-button, 
input[disable=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[disable=number] {
    -webkit-appearance: textfield;
}

i {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.content {
    display: none;
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
    opacity: 0;
}

.content.active {
    display: grid;
    transition: all 2s 5s ease-in;
    top: 0;
    opacity: 1;
}

.tab-button {
    transition: all 0.2s ease-in;
}

.wrapper {
    overflow: hidden;
}

.tab-button.active {
    background-color: rgb(252 39 143 / 1);
    color: white;
    font-weight: bold;
}

/* .remove-dash {
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
} */

.show-dash {
    width: 270px !important;
    padding: 40px 20px 176px 20px !important;
    transition: all 0.2s ease-out;
}

@media (max-width: 900px) {
    .dash-search {
        display: none;
    }

    /* .nav-dash-search {
        display: block
    } */
}

@media (min-width: 900px) {
    .nav-dash-search {
        display: none
    }
}

@media (max-width: 810px) {
    .dash-boxes {
        flex-direction: column;
    }

    .dash-boxes > div:first-child {
        width: 100% !important;
    }

    .dash-boxes > div:nth-child(2) {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .renewal {
        flex-direction: column;
        width: fit-content;
        min-width: 400px;
        align-items: center;
    }

    .renewal-parent {
        margin: 0 auto;
        width: fit-content;
        margin-top: 60px;
    }
}


/* Styles for pie chart */
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  /* @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  } */
  
  div[role="progressbar"] {
    --size: 18rem;
    --fg: #FC278F;
    --bg: #C9B7C1;
    --pgPercentage: var(--value);
    transform: rotate(180deg);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
      radial-gradient(closest-side, white 72%, transparent 0 100%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-size: calc(var(--size) / 5);
    /* color: var(--fg); */
  }

  @media (max-width: 450px) {
      .renewal {
          min-width: unset;
      }
  }

  @media (min-width: 1340px) {
    .card-num-details {
        flex-direction: row;
    }
  }

  @media (min-width: 992px) and (max-width: 1070px) {
      .card-num-details {
          flex-direction: column;
      }
      .card-num-details > div {
          width: 100%;
      }
  }